---
import Layout from "../layouts/BlogPost.astro";
import myImage from "../assets/images/profile_picture_2.jpg";

---

<Layout
	title="About Me!"
	description="A personal page about Hans Askov"
	pubDate={new Date("September 14 2023")}
	heroImage={myImage}
>


	<p>
		Hello! I'm currently in my seventh semester, working towards a degree in
		Software Engineering. I'm passionate about technology and have a keen
		interest in several areas:
	</p>

	<ul>
		<li>
			<strong>Machine Learning:</strong> I am fascinated by the power of
			machine learning algorithms and how they can be applied to solve
			complex problems. From natural language processing to computer
			vision, I'm always eager to explore new ways to leverage machine
			learning techniques.
		</li>

		<li>
			<strong>Distributed Systems:</strong> The world of distributed
			systems is both challenging and exciting. I enjoy diving into the
			intricacies of designing and building scalable and fault-tolerant
			systems that can handle large workloads.
		</li>

		<li>
			<strong>Serving Large Quantities of Data:</strong> In today's
			data-driven world, efficiently delivering vast amounts of data to
			users is a crucial aspect of software engineering. I'm enthusiastic
			about optimizing data pipelines and creating seamless user
			experiences.
		</li>
	</ul>

	<h2>My Journey So Far</h2>

	<p>
		During my Bachelor's program, I worked at Novo Nordisk, implementing a
		6DoF pose estimation method for robotic bin picking in randomized
		setups. This experience exposed me to cutting-edge technology in
		computer vision and robotics, where precision is key.
	</p>

	<p>
		Collaborating with a dedicated team, I honed my technical skills and
		gained insights into real-world applications of technology in the
		pharmaceutical industry. This experience has further fueled my passion
		for problem-solving and innovative engineering solutions.
	</p>

	<p>
		It's just one example of how I've applied my knowledge and skills in
		practical settings, and I'm eager to tackle more exciting challenges in
		the future.
	</p>

	<h2>Let's Connect!</h2>

	<p>
		I'm always eager to connect with like-minded individuals, whether it's
		to discuss exciting projects, share ideas, or simply chat about
		technology and its ever-evolving landscape. Feel free to reach out to me
		through <a href="mailto:hans@askov.com">hans@askov.dk</a> – I'd love to
		hear from you!
	</p>

	<p>
		Thank you for visiting my page, and I look forward to embarking on this
		exciting journey in the world of software engineering together.
	</p>
</Layout>
