---
import Layout from "../layouts/BlogPost.astro";
import myImage from "../assets/images/profile_picture_2.jpg";

myImage.width = 720
myImage.height = 480
---

<Layout
	title="Hans Askov"
	description="A personal page about Hans Askov"
	pubDate={new Date()}
	heroImage={myImage}
>
	<p>
		My name is Hans Askov and i'm currently in my first semester of my
		masters, working towards a degree in Software Engineering. I'm
		passionate about Machine learning, fullstack web applications, large
		distributed systems and much more.
	</p>

	<h2>My Journey So Far</h2>

	<p>
		During my Bachelor's program, i worked at Novo Nordisk, implementing a
		6DoF pose estimation method for robotic bin picking. This experience
		exposed me to cutting-edge technology in computer vision and robotics,
		where precision is key. The whole project was made under a
		non-disclosure agreement, but the synthetic data generation for bin
		picking was made open source and can by found here: <a
			target="_blank"
			href="https://github.com/hansaskov/BlenderBin"
			>github.com/hansaskov/BlenderBin</a
		>
	</p>

	<p>
		Besides machine learning, I also have a passion for full-stack web
		applications and have created side projects in React with Next and
		Svelte with SvelteKit. The aim of these projects are to establish a
		feature-driven environment, empowering developers to be confident when
		making changes between the frontend and backend. This confidence is
		ensured by implementing type-safety between the frontend and backend, as
		well as incorporating appropriate unit tests and end-to-end tests. The
		projects are then hosted in a serverless environment, releaving the
		burden of self hosting and allowing the developers to focus on new
		features.
	</p>

	<p>
		This semester, I thoroughly explored the realm of big data by designing
		and implementing my very first event-driven software architecture. The
		system uses Kafka as our message-bus, kSQL for live data processing,
		timescaleDB for time series data storage and ElysiaJs and HTMX for the
		frontend solution. This is all hosted in Kubernetes with
		fault-tolerance, rollback and auto-scaling.
	</p>

	<h2>Let's Connect!</h2>

	<p>
		Feel free to reach out to me through <a href="mailto:hans@askov.com"
			>hans@askov.dk</a
		> – I'd love to hear from you!
	</p>
</Layout>
